openapi: 3.1.0
info:
  title: PeerChair Email Assistant
  description: Lets ChatGPT look up contact context and save email drafts to Outlook on behalf of Dalen Lawrence.
  version: 1.0.0
servers:
  - url: https://www.peerchair.com
paths:
  /api/contact-context:
    get:
      operationId: getContactContext
      summary: Look up a contact by name and return their full context and communication history
      description: >
        Call this before drafting any email. Returns contact details, relationship history,
        and recent communications. If multiple matches are found, returns candidates for
        Dalen to clarify. Always call this first — never draft without context.
      parameters:
        - name: name
          in: query
          required: false
          description: Full or partial name of the contact, e.g. "Anand Chokshi" or just "Anand"
          schema:
            type: string
        - name: contact_id
          in: query
          required: false
          description: Exact contact UUID if already known from a previous lookup
          schema:
            type: string
      responses:
        "200":
          description: Contact found or candidates returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [single_match, multiple_matches, no_match]
                  contact:
                    type: object
                    description: Full contact record with history (present when status is single_match)
                  candidates:
                    type: array
                    description: List of possible matches (present when status is multiple_matches)
                  sender:
                    type: object
                    description: Dalen's info to use in email signatures and Calendly links
        "401":
          description: Unauthorized

  /api/save-draft:
    post:
      operationId: saveDraft
      summary: Save a finalized email draft to Outlook Drafts and log it in PeerChair
      description: >
        Call this only after Dalen has approved the draft. Creates the draft in Outlook
        and logs it to the PeerChair communications database. Never sends the email —
        Dalen always sends manually from Outlook.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact_id
                - subject
                - body
              properties:
                contact_id:
                  type: string
                  description: UUID of the contact from getContactContext
                subject:
                  type: string
                  description: Email subject line
                body:
                  type: string
                  description: Plain text email body
                attachment_name:
                  type: string
                  description: >
                    Optional. Name of a file stored in PeerChair to attach.
                    Use plain descriptive names like "sponsor one pager" or "membership overview".
      responses:
        "200":
          description: Draft saved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  to:
                    type: string
                  subject:
                    type: string
                  attachment_included:
                    type: boolean
                  attachment_note:
                    type: string
        "401":
          description: Unauthorized
        "404":
          description: Contact not found

  /api/log-outreach:
    post:
      operationId: logOutreach
      summary: Log a sent message to PeerChair and optionally update the contact's pipeline stage
      description: >
        Call this when Dalen confirms he has sent or is about to send a message (LinkedIn, email, phone, etc).
        Logs the message to the PeerChair communications timeline and updates the pipeline stage if appropriate.
        Use outreach_type to trigger the right stage update:
        - fit_call_link_sent: moves CFO prospect to "Fit Invite Sent"
        - fit_call_scheduled: moves to "Fit Call Scheduled"
        - sponsor_discovery_link_sent: moves sponsor to "Discovery Sched."
        - general_follow_up: logs message, no stage change
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact_id
                - message
                - channel
              properties:
                contact_id:
                  type: string
                  description: UUID from getContactContext
                message:
                  type: string
                  description: The full message text that was sent
                channel:
                  type: string
                  enum: [LinkedIn, Email, Phone, Note]
                  description: How the message was sent
                outreach_type:
                  type: string
                  enum: [fit_call_link_sent, fit_call_scheduled, fit_call_completed, sponsor_discovery_link_sent, sponsor_discovery_scheduled, sponsor_discovery_completed, general_follow_up]
                  description: Type of outreach — determines whether to update pipeline stage
                subject:
                  type: string
                  description: Optional subject line for email outreach
      responses:
        "200":
          description: Outreach logged successfully
        "401":
          description: Unauthorized
        "404":
          description: Contact not found

  /api/gpt-echo:
    get:
      operationId: gptEchoGet
      summary: Test GET — verify GET requests reach PeerChair
      responses:
        "200":
          description: Echo response
    post:
      operationId: gptEchoPost
      summary: Test POST — verify POST requests reach PeerChair
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                test:
                  type: string
      responses:
        "200":
          description: Echo response

  /api/add-note:
    post:
      operationId: addNote
      summary: Add an internal note to a PeerChair contact profile
      description: Call this when Dalen asks to add, save, remember, or log a note about a person. Always call getContactContext first to get the contact_id.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - contact_id
                - note
              properties:
                contact_id:
                  type: string
                  description: The PeerChair contact ID returned by getContactContext
                note:
                  type: string
                  description: The note to save to the contact profile
                source:
                  type: string
                  description: Source of the note such as voice, manual, call, meeting, or GPT
                note_type:
                  type: string
                  description: Type of note such as conversation_note, meeting_note, reminder, or context_note
      responses:
        "200":
          description: Note added
        "401":
          description: Unauthorized
        "404":
          description: Contact not found

  /api/inbox-summary:
    get:
      operationId: inboxSummary
      summary: Scan Outlook inbox for messages from known PeerChair contacts and flag unrecognized senders
      description: >
        Call this when Dalen asks what came in today, who emailed him, what needs a reply,
        or for a morning brief. Returns known contacts who messaged him, team messages,
        and unrecognized senders who may need to be added to PeerChair. Each entry
        includes a message_id and a 150-char preview only — to read the full body of
        a specific message, follow up with getEmailBody using that message_id.
      parameters:
        - name: hours
          in: query
          required: false
          schema:
            type: integer
          description: How many hours back to scan. Defaults to 24.
      responses:
        "200":
          description: Inbox summary returned
        "401":
          description: Unauthorized

  /api/email-body:
    get:
      operationId: getEmailBody
      summary: Get the full body of a specific email by message_id
      description: >
        Use this after inboxSummary when Dalen wants to know what an email actually
        says — to read the full content before deciding whether to reply, summarize,
        or take action. Returns the cleaned plain-text body, subject, sender, and
        contact context (if the sender is in PeerChair). Pulls from the local
        Supabase cache when available and falls back to Microsoft Graph for messages
        from unknown senders.
      parameters:
        - name: message_id
          in: query
          required: true
          schema:
            type: string
          description: The Outlook message id, exactly as returned by inboxSummary.
      responses:
        "200":
          description: Full email body returned
        "400":
          description: message_id missing
        "401":
          description: Unauthorized or Microsoft token missing
        "404":
          description: Message not found in Outlook

  /api/add-contact:
    post:
      operationId: addContact
      summary: Add a new contact to PeerChair and optionally to Outlook contacts
      description: >
        Call this when Dalen wants to add someone new. Adds to PeerChair database
        and optionally to Outlook contacts so they autocomplete in email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - first_name
                - email
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                company:
                  type: string
                title:
                  type: string
                phone:
                  type: string
                contact_type:
                  type: string
                  description: CFO_PROSPECT, SPONSOR_CONTACT, or REFERRAL_PARTNER
                add_to_outlook:
                  type: boolean
                  description: Whether to also add to Outlook contacts. Defaults to true.
      responses:
        "200":
          description: Contact added
        "401":
          description: Unauthorized
        "409":
          description: Contact already exists

  /api/sync-sent:
    get:
      operationId: syncSentEmails
      summary: Sync recently sent Outlook emails to PeerChair contact timelines
      description: >
        Call this after Dalen confirms he sent an email from Outlook.
        Scans Sent Items for the last 2 hours and logs any emails to known
        PeerChair contacts. Always call this after saveDraft confirms Dalen sent.
      responses:
        "200":
          description: Sync complete
        "401":
          description: Unauthorized
